<h3>Servers Component</h3>
<div class="container">
  <!-- <form>
    <input
      type="text"
      class="form-control"
      (input)="onUpdateServerName($event)"
    />
  </form> -->
  <form>
    <input
      type="text"
      class="form-control"
      name="server"
      [(ngModel)]="serverName"
    />
  </form>
  <button
    [disabled]="!allowNewServer"
    (click)="onServerCreation()"
    class="btn btn-primary"
  >
    Add Server
  </button>
  <!-- <span>{{ serverName }}</span> -->
  <!-- <p [innerText]="allowNewServer"></p> -->
  <p *ngIf="serverCreated; else noServer">{{ serverCreation }}</p>
  <ng-template #noServer>
    <p>{{ serverCreation }}</p>
  </ng-template>

  <app-server></app-server>
</div>
